{% extends "base_page.html" %}

{% block title %} {{ _("Courses") }} {% endblock %}

{% block container %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area"
     style="background: rgba(0,0,0,0) url('/static/img/banner/4.jpg') no-repeat scroll 0 0; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">{{ _("OUR COURSES") }}</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="/">Home</a></li>
                            <li>{{ _("Courses") }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<br>
<br>
<!--Search Category Start-->
<div class="search-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <form action="#" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="select large">
                                <select name="category">
                                    <option>All Categories</option>
                                    <option>Web Design</option>
                                    <option>Designing</option>
                                    <option>Development</option>
                                    <option>Programming</option>
                                    <option>Developing</option>
                                </select>
                            </div>
                            <div class="select small">
                                <select name="date">
                                    <option>Price</option>
                                    <option>$10000</option>
                                    <option>$35000</option>
                                    <option>$67000</option>
                                    <option>$82000</option>
                                    <option>$95000</option>
                                </select>
                            </div>
                            <div class="select medium">
                                <select name="date">
                                    <option>Course Type</option>
                                    <option>Web Design</option>
                                    <option>Designing</option>
                                    <option>Development</option>
                                    <option>Programming</option>
                                    <option>Developing</option>
                                </select>
                            </div>
                        </div>
                        <button type="button">Search Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Search Category-->




<div class="container section-padding">

    <div class="row">
        <div class="col-md-12">
            <div class="section-title-wrapper">
                <div class="section-title">
                    <h3 style="margin-top: 8px;">Варианты обучения</h3>
                    <h3 style="margin-top: 8px;">POPULAR COURSES</h3>
                    <p>There are many variations of passages of Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Toggle Switch -->
    <div class="pricing-table">
        <div class="pricing-toggle-container text-center mb-5">
            <div class="pricing-toggle">
                <span class="toggle-option monthly active" data-period="monthly">ЕЖЕМЕСЯЧНАЯ ОПЛАТА</span>

                <label class="switch">
                    <input type="checkbox" id="pricing-toggle">
                    <span class="slider round"></span>
                </label>

                <span class="toggle-option yearly" data-period="yearly">ОПЛАТА ЗА ГОД</span>
            </div>
        </div>

        <div class="pricing-table-wrapper">

            <table class="study-pricing-table">
                <thead>
                    <tr>
                        <th class="option-col">Тарификация доступа к платформе</th>
                        <th class="plan-col"><span class="plan-title">Базовый</span></th>
                        <th class="plan-col active-plan"><span class="plan-title">Стандарт</span></th>
                        <th class="plan-col"><span class="plan-title">Премиум</span></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="price-row">
                        <td class="option-name">Стоимость в месяц</td>
                        <td class="plan-value monthly">€0</td>
                        <td class="plan-value monthly">
                            €{{ '%.2f' % (products.get('access-standard-monthly', {}).get('price', 0)) }}
                        </td>
                        <td class="plan-value monthly">
                            €{{ '%.2f' % (products.get('access-premium-monthly', {}).get('price', 0)) }}
                       </td>

                        <!-- Yearly prices -->
                        <td class="plan-value yearly" style="display:none;">€0</td>
                        <td class="plan-value yearly" style="display:none;">
                            €{{ '%.2f' % (products.get('access-standard-yearly', {}).get('price', 0) / 12) }}
                            <br><small>(€{{ products.get('access-standard-yearly').get('price') }} за год)</small>
                        </td>
                        <td class="plan-value yearly" style="display:none;">
                            €{{ '%.2f' % (products.get('access-premium-yearly', {}).get('price', 0) / 12) }} <br>
                            <small>(€{{ products.get('access-premium-yearly').get('price') }} за год)</small>
                        </td>
                    </tr>
                    <tr class="button-row">
                        <td class="option-name"></td>
                        <td class=""></td>
                        <td class="button-row">
                            <form action="{{ url_for('cart_add', source_lang=source_lang, ui_lang=ui_lang) }}"
                                  method="post" class="add-to-cart-form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                <input type="hidden" name="product_slug" value="">
                                <button type="submit" class="btn button-in-table-green add-to-cart-btn"
                                        data-slug-monthly="access-standard-monthly"
                                        data-slug-yearly="access-standard-yearly">
                                    Выбрать
                                </button>
                            </form>
                        </td>
                        <td class="button-row">
                            <form action="{{ url_for('cart_add', source_lang=source_lang, ui_lang=ui_lang) }}"
                                  method="post" class="add-to-cart-form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                <input type="hidden" name="product_slug" value="">
                                <button type="submit" class="btn button-in-table-black add-to-cart-btn"
                                        data-slug-monthly="access-premium-monthly"
                                        data-slug-yearly="access-premium-yearly">
                                    Выбрать
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td class="option-name">Словарь</td>
                        <td class="plan-value"><i class="check"></i></td>
                        <td class="plan-value"><i class="check"></i></td>
                        <td class="plan-value"><i class="check"></i></td>
                    </tr>
                    <tr>
                        <td class="option-name">Видео-уроки с интерактивными упражнениями <br>
                            (теория -> занятия на тренажёре -> тест)</td>
                        <td>Только 2 первых урока уровня А1</td>
                        <td class="plan-value"><i class="check"></i></td>
                        <td class="plan-value"><i class="check"></i></td>
                    </tr>
                    <tr>
                        <td class="option-name">Тренажёр запоминания слов "Мой словарь"</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value"><i class="check"></i></td>
                        <td class="plan-value"><i class="check"></i></td>
                    </tr>
                    <tr>
                        <td class="option-name">AI бот (разговорная практика и тренировка восприятия речи на слух)</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value"><i class="check"></i></td>
                        <td class="plan-value"><i class="check"></i></td>
                    </tr>
                    <tr>
                        <td class="option-name">Тренажёр восприятия речи на слух</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value"><i class="check"></i></td>
                    </tr>
                    <tr>
                        <td class="option-name">Тренажёр письменных навыков (проверяется преподавателем)</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value"><i class="check"></i></td>
                    </tr>
                    <tr>
                        <td class="option-name">Индивидуальные занятия с преподавателем <br>
                            (оплачивается дополнительно от
                            €{{ '%.2f' % (products.get('private-lesson-pack-a1', {}).get('price', 0) / 7) }}
                            / акад. час)</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value"><i class="check"></i></td>
                    </tr>
                    <tr>
                        <td class="option-name">Индивидуальные занятия с преподавателем-носителем языка <br>(оплачивается дополнительно от
                            €{{ '%.2f' % (products.get('private-lesson-pack-with-native-speaker-a1', {}).get('price', 0) / 7) }}
                            / акад. час)</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value disabled">&#10006;</td>
                        <td class="plan-value"><i class="check"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="section-title-wrapper">
                <div class="section-title">
                    <h3 style="margin-top: 8px;">Индивидуальные занятия</h3>
                    <h3 style="margin-top: 8px;">с преподавателем</h3>
                    <p>Данная услуга доступна <b>только</b> на тарифе ПРЕМИУМ</p>
                </div>
            </div>
        </div>
    </div>


    <p class="text-center" style="font-size: 20px; font-family: 'montserratsemi'; line-height: 1.8;">
        Помимо доступа к уникальным тренажёрам (аудирование и навыки составление текста), <br>
        Тариф ПРЕМИУМ даёт возможность доступа к индивидуальным занятиям с преподавателем.
    </p>
    <br><br>

        <!-- Toggle Switch -->
    <div class="pricing-table">
        <div class="pricing-toggle-container text-center mb-5">
            <div class="pricing-toggle">
                <span class="toggle-option monthly active" data-period="monthly">ОПЛАТА ЗА КАЖДОЕ ЗАНЯТИЕ</span>

                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>

                <span class="toggle-option yearly" data-period="yearly">ОПЛАТА ЗА ВЕСЬ КУРС СРАЗУ</span>
            </div>
        </div>
        <div class="pricing-table-wrapper">

            <table class="study-pricing-table">
                <thead>
                    <tr>
                        <th class="option-col">Тарификация доступа к платформе</th>
                        <th class="coach-col active-plan"><span class="plan-title">Преподаватель</span></th>
                        <th class="coach-col"><span class="plan-title">Преподаватель-носитель языка</span></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="price-row">
                        <td class="option-name">Стоимость одного занятия с преподавателем</td>

                        <td class="plan-value monthly">€{{ '%.2f' % (products.get('single-private-lesson', {}).get('price', 0)) }}</td>
                        <td class="coach-col monthly">€{{ '%.2f' % (products.get('single-private-lesson-with-native-speaker', {}).get('price', 0)) }}<small> </small></td>

                        <td class="coach-col yearly" style="display:none;">
                            €{{ '%.2f' % (products.get('private-lesson-pack-a1', {}).get('price', 0) / 7) }}<br>
                            <small>
                                €{{ '%.2f' % (products.get('private-lesson-pack-a1', {}).get('price', 0)) }} за курс A1<br>
                                €{{ '%.2f' % (products.get('private-lesson-pack-a2', {}).get('price', 0)) }} за курс A1<br>
                            </small>
                        </td>
                        <td class="coach-col yearly" style="display:none;">
                            €{{ '%.2f' % (products.get('private-lesson-pack-with-native-speaker-a1', {}).get('price', 0) / 7) }}<br>
                            <small>
                                €{{ '%.2f' % (products.get('private-lesson-pack-with-native-speaker-a1', {}).get('price', 0)) }} за курс A1<br>
                                €{{ '%.2f' % (products.get('private-lesson-pack-with-native-speaker-a2', {}).get('price', 0)) }} за курс A2
                            </small>
                        </td>
                    </tr>
                    <tr class="button-row">
                        <td class=""></td>
                        <td class="button-row">
                            <form action="{{ url_for('cart_add', source_lang=source_lang, ui_lang=ui_lang) }}"
                                  method="post" class="add-to-cart-form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                <input type="hidden" name="product_slug" value="">
                                <button type="submit" class="btn button-in-table-green add-to-cart-btn"
                                        data-teacher-type="regular"
                                        data-slug-single="single-private-lesson"

                                        data-slug-pack-a1="private-lesson-pack-a1"
                                        data-pack-a1-name="{{ products.get('private-lesson-pack-a1', {}).get('name') }}"
                                        data-pack-a1-price="{{ products.get('private-lesson-pack-a1', {}).get('price') }}"

                                        data-slug-pack-a2="private-lesson-pack-a2"
                                        data-pack-a2-name="{{ products.get('private-lesson-pack-a2', {}).get('name') }}"
                                        data-pack-a2-price="{{ products.get('private-lesson-pack-a2', {}).get('price') }}">
                                    Выбрать
                                </button>
                            </form>
                        </td>
                        <td class="button-row">
                            <form action="{{ url_for('cart_add', source_lang=source_lang, ui_lang=ui_lang) }}"
                                  method="post" class="add-to-cart-form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                <input type="hidden" name="product_slug" value="">
                                <button type="submit" class="btn button-in-table-black add-to-cart-btn"
                                        data-teacher-type="native"
                                        data-slug-single="single-private-lesson-with-native-speaker"

                                        data-slug-pack-a1="private-lesson-pack-with-native-speaker-a1"
                                        data-pack-a1-name="{{ products.get('private-lesson-pack-with-native-speaker-a1', {}).get('name') }}"
                                        data-pack-a1-price="{{ products.get('private-lesson-pack-with-native-speaker-a1', {}).get('price') }}"

                                        data-slug-pack-a2="private-lesson-pack-with-native-speaker-a2"
                                        data-pack-a2-name="{{ products.get('private-lesson-pack-with-native-speaker-a2', {}).get('name') }}"
                                        data-pack-a2-price="{{ products.get('private-lesson-pack-with-native-speaker-a2', {}).get('price') }}">
                                    Выбрать
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td class="option-name">Одно индивидуальное занятие</td>
                        <td class="coach-col">
                            {{ '%.2f' % (products.get('single-private-lesson', {}).get('price', 0)) }}
                        </td>
                        <td class="coach-col">
                            €{{ '%.2f' % (products.get('single-private-lesson-with-native-speaker', {}).get('price', 0)) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="option-name">{{ (products.get('private-lesson-pack-a1', {}).get('name')) }}</td>
                        <td class="coach-col">
                            €{{ '%.2f' % (products.get('private-lesson-pack-a1', {}).get('price', 0)) }}
                        </td>
                        <td class="coach-col">
                            €{{ '%.2f' % (products.get('private-lesson-pack-a2', {}).get('price', 0)) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="option-name">{{ (products.get('private-lesson-pack-a2', {}).get('name')) }}</td>
                        <td class="coach-col">
                            €{{ '%.2f' % (products.get('private-lesson-pack-with-native-speaker-a1', {}).get('price', 0)) }}
                        </td>
                        <td class="coach-col">
                            €{{ '%.2f' % (products.get('private-lesson-pack-with-native-speaker-a2', {}).get('price', 0)) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Course Select Modal -->
<div class="modal fade course-modal"
     id="courseSelectModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">
                    Выбор курса
                </h4>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="course-levels"
                     id="course-levels-container">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    $(document).ready(function () {
        const CSRF_TOKEN = "{{ csrf_token }}";

        // Клик по самому переключателю (слайдеру)
        $('.pricing-toggle input[type="checkbox"]').on('change', function () {
            const isYearly = this.checked;
            const table = $(this).closest('.pricing-table');   // находим свою таблицу
            const container = table.find('.price-row');

            container.find('.monthly').toggle(!isYearly);
            container.find('.yearly').toggle(isYearly);

            table.find('.toggle-option').removeClass('active');

            if (isYearly) {
                table.find('.toggle-option.yearly').addClass('active');
            } else {
                table.find('.toggle-option.monthly').addClass('active');
            }
        });
        // Клик по тексту
        $('.toggle-option').on('click', function () {
            const isYearly = $(this).hasClass('yearly');
            const checkbox = $(this).closest('.pricing-toggle').find('input[type="checkbox"]');
            checkbox.prop('checked', isYearly).trigger('change');
        });

        // submit add to cart
        $('.add-to-cart-form').on('submit', function (e) {
            const form = $(this);
            const button = form.find('.add-to-cart-btn');
            const table = form.closest('.pricing-table');
            const isYearly = table
                .find('.pricing-toggle input[type="checkbox"]')
                .is(':checked');

            let slug = '';

            if (button.data('slug-monthly') || button.data('slug-yearly')) {
                // Верхняя таблица (тарифы доступа)
                slug = isYearly
                    ? button.data('slug-yearly')
                    : button.data('slug-monthly');
            } else {
                // Нижняя таблица (занятия с преподавателем)
                if (isYearly) {
                    e.preventDefault();

                    const container = $('#course-levels-container');

                    const a1Name = button.data('pack-a1-name');
                    const a1Price = button.data('pack-a1-price');
                    const a1Slug = button.data('slug-pack-a1');

                    const a2Name = button.data('pack-a2-name');
                    const a2Price = button.data('pack-a2-price');
                    const a2Slug = button.data('slug-pack-a2');

                    container.html(`
                        <div class="course-select-row">

                            <div class="course-select-name">
                                ${a1Name}
                            </div>

                            <div class="course-select-price">
                                €${a1Price}
                            </div>

                            <div class="course-select-action">
                                <form action="${form.attr('action')}" method="post">
                                    <input type="hidden" name="csrf_token" value="${CSRF_TOKEN}">
                                    <input type="hidden"
                                           name="product_slug"
                                           value="${a1Slug}">

                                    <button type="submit"
                                            class="button-in-table-black">
                                        Выбрать
                                    </button>

                                </form>
                            </div>

                        </div>

                        <div class="course-select-row">

                            <div class="course-select-name">
                                ${a2Name}
                            </div>

                            <div class="course-select-price">
                                €${a2Price}
                            </div>

                            <div class="course-select-action">
                                <form action="${form.attr('action')}" method="post">
                                    <input type="hidden" name="csrf_token" value="${CSRF_TOKEN}">
                                    <input type="hidden"
                                           name="product_slug"
                                           value="${a2Slug}">

                                    <button type="submit"
                                            class="button-in-table-black">
                                        Выбрать
                                    </button>

                                </form>
                            </div>

                        </div>
                    `);
                    $('#courseSelectModal').modal('show');

                    return false;
                } else {
                    slug = button.data('slug-single');
                }
            }
            form.find('input[name="product_slug"]').val(slug);
        });

        // установка по умолчанию на годовую подписку
        $('.pricing-toggle input[type="checkbox"]').prop('checked', true).trigger('change');

    });
</script>
{% endblock %}



